.component-container {
  height: 400px;
}
.img-size {
  height: 100px;
  width: 100px;
}
.btn-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10%;
}

.mini-image-container {
  display: flex;
  justify-content: center;
  margin: 5%;
}
